*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    text-align: center;
  }
  
  #cajita{
    height: 10px;
    width: 10px;
    background: silver;
    border-style: solid;
    transition: 1s ease all;
  margin: auto;
  translate: 0px 0px;
  }