@font-face {
  font-family: Out;
  src: url(fonts/Outfit-Medium.ttf);
}

*{
    margin: 1.5;
    padding: 1.5;
    box-sizing: border-box;
    font-family: Out;
  }
  
  body{
    text-align: center;
  }

  table{
    height: 70%;
    width: 70%;
    margin: auto;
    overflow: hidden;
    border-collapse: collapse;
}

  
  #cajita{
    height: 10px;
    width: 10px;
    background: silver;
    border-style: solid;
    transition: 1s ease all;
  margin: auto;
  translate: 0px 0px;
  }