*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

#veco, #ving, #vfis, #vcalc, #vmod{
   font-size: 23px;
   color:rgb(87, 87, 87);
}

.container{
    display: flex;
    width: 420px;
    padding: 50px 0;
    border-radius: 8px;
    background: #fff;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}
.circular-progress {
    /* Tu código actual */
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#ff3b3b 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    /* Nueva línea para la animación */
    animation: progress-animation 2s ease forwards;
}

/* Nueva animación */
@keyframes progress-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.circular-progress::before {
    /* Tu código actual */
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
    /* Nueva línea para la animación */
    animation: progress-inner-animation 2s ease forwards;
}

/* Nueva animación */
@keyframes progress-inner-animation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.progress-value {
    /* Tu código actual */
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: #ff3b3b;
    /* Nueva línea para la animación */
    opacity: 0;
    animation: value-animation 2s ease forwards;
}

/* Nueva animación */
@keyframes value-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.text{
    font-size: 30px;
    font-weight: 500;
    color: #606060;
}
