*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

div{
    font-size: 20px;
}

#ec{
  border: 1px solid silver;
  height: 70px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}


#r{
  border: 1px solid silver;
  height: 100px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
