*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#vfi{
    font-size: 40px;
    color: rgb(161, 106, 161);
}

#vco{
    font-size: 40px;
    color: rgb(206, 67, 137);
}

table{
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    border: 2px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    text-align: center; 
}

tr{
    border: 2px solid rgb(0, 0, 0);
    width: 40px;
    height: 40px;
    text-align: center; 
}